article {
  font-size: 1rem;
  color: #5c5c5c;
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
  color: #202020;
  line-height: 2.3rem;
}

h2 {
  font-size: 1.75rem;
  margin-top: 1rem;
  color: #202020;
  line-height: 2.3rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #202020;
  line-height: 2.2rem;
}

time {
  font-family: Metric-Regular;
  font-size: 0.85rem;
  color: #888e99;
}

ol {
  list-style: decimal;
  list-style-position: inside;
  margin-left: 0.75rem;
}

ul {
  list-style: disc;
  list-style-position: inside;
  margin-left: 0.75rem;
}

b,
strong {
  font-family: -webkit-body;
}
